# Local PostreSQL Database connection string
DATABASE_URL="postgres://user:password@localhost:5433/finance"

# Security signing key for JWT Tokens generating session cookies. (KEEP SECRET IN PROD!)
JWT_SECRET="your_production_secret_key_here"

# Default root Administrator details injected on application startup if database is empty.
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@zorvyn.com"
ADMIN_PASSWORD="super_secure_password"
